[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c
